/******************************
			FONTS
******************************/

@font-face {
	font-family: proximaNova; 
	src: url(../fonts/proximanovabold.otf);
}

/******************************
			HEADER
******************************/

header {
	padding: 20px;
	display: flex;
	font-family: 'Roboto', Arial;
	font-weight: 500;
	color: #6d6d6d;
	vertical-align: center;
	font-size: 18px;
}

header .row{
	display: flex;
	vertical-align: middle;
	padding: 20px;
}

header img {
	width: 80px;
	height: 80px;
}

header p{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

header ul {
	display: inline-block;
}

.navbar {
	background-color: #eee;
	border: none;
	font-family: 'Roboto', Arial;
	font-weight: 500;
	font-size: 18px;
	padding: 20px;
	vertical-align: middle;
}

/*.navbar li{
	padding-left: 10px;
	padding-right: 10px;
}*/

.navbar img {
	width: 45px;
	height: 45px;
}
/******************************
			BODY
******************************/

html,
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	color: #5A5A5A;
}

h1 {
	font-weight: 100;
}

p {
	font-size: 16px;
	font-weight: 300;
}

.container#formbox {
	width: 550px;
	margin-top: 15px;
}

.button-group {
	margin-bottom: 20px;
	color: #34495e;
}

/*#post {
	background-color: #27ae60;
	border-color: #27ae60;
}*/

#delete {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.counter {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0;
	margin-right: 10px;
}

.btn{
	align-content: center;
}

#believe {
	font-family: 'Roboto';

}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  text-align: center;
  /*-webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;*/
}

li.selected {
	background-color: #e74c3c;
	color: #fff;
	font-weight: bold;
	/*-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;/*
}