html,
body {
	font-family: 'Roboto', sans-serif;
	color: #404040;
	background-color: #eee;
}

header {
	padding: 20px 0;
}

header .row {
	display: flex;
	align-item: center;
	padding-top: 20px;
}

header h1 {
	font-style: italic;
	color: #2980b9;
	font-weight: 600;
	margin: 0;
}

.container {
	width: 550px;
	margin-top: 15px;
}

.button-group {
	margin-bottom: 20px;
	color: #34495e;
}

/*#post {
	background-color: #27ae60;
	border-color: #27ae60;
}*/

#delete {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.counter {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0;
	margin-right: 10px;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}

li.selected {
	background-color: #e74c3c;
	color: #fff;
	font-weight: bold;
	font-style: oblique;
}